extends layout 

block main-content 
  h2#h2 WE SELL ALL THE MERCH RELATED TO VALORANT, YOU NAME IT WE SELL IT!
  h3#h3 WE ARE SELLING EXCLUSIVE ACTION FIGURES
  section.agents 
    .reyna 
      p.figure REYNA ACTION FIGURE
      img(src='./images/reyna.jpg' height='300px' width='300px').img
    .omen 
      p.figure OMEN ACTION FIGURE
      img(src='./images/omen.jpg' height='300px' width='300px').img
    .phoenix
      p.figure PHOENIX ACTION FIGURE
      img(src='./images/phoenix.png' height='300px' width='300px').img
    .yoru 
      p.figure YORU ACTION FIGURE
      img(src='./images/yoru.jpg' height='300px' width='300px').img


//- 
  images citation
  reyna image link - https://shopee.com.br/Personagem-Reyna-Valorant-com-ou-sem-nick-MDF-22cm-i.365006773.10025875750
  omen image link - https://www.renderhub.com/aboodkat/omen-valorant
  phoenix image link - https://merch.riotgames.com/en-sg/product/valorant-phoenix-statue/
  yoru image link - https://www.renderhub.com/aboodkat/yoru-from-valorant
  background image link - https://rare-gallery.com/391500-valorant-game-fracture-background-4k-pc-wallpaper.html
  
